{% block header %}
<nav class="nav justify-content-around bg-dark">
                    <a class="nav-link active text-white" href="http://127.0.0.1:8000/shop/catalog/">Каталог</a>
                    <a class="nav-link text-white" href="#">Контакты</a>
                    <a class="nav-link text-white" href="#">Доставка</a>
                    <a class="nav-link text-white" href="#">О сайте</a>
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control form-control-sm mr-sm-2" type="search" placeholder="Найди что-нибудь..." aria-label="Search">
                        <button class="btn btn-sm btn-secondary my-2 my-sm-0" type="submit">Поиск</button>
                      </form>
                </nav>
{% endblock %}