{% extends 'base.html' %}
{% load static %}

{% block content %}
 <div class="container" style="padding: 0; max-width: 1105px; display: flex; margin: 0; flex-wrap: wrap; margin: auto">
                    {% for product in products %}
                    <div class="cellWithPhone" style="margin: 5px">
                        <div class="card shadow" style="width: 16rem;">
                            <div class="card-header pb-0"><h6 class="card-title"></h6></div>
                            <h6 style="text-align: center">{{product.name}}</h6>
                            <img src="{{product.image_url}}" class="card-img-top" style="width: 256px; height:312px;">
                            <div class="card">
							<h6>{{product.description|truncatechars:30}}</h6>
                              <h6 class="card-text">Цена: {{product.price}}р</h6>
                              <hr>
                              <div class="buttonsPanel">
                                <a href="#" class="btn btn-info btn-sm">Купить</a>
                                  <a href="{{product.get_absolute_url}}">
                                      <button  class="btn btn-secondary btn-sm" type="button" data-toggle="collapse" data-target="#samsung-1" aria-expanded="false">
                                          Подробнее
                                      </button>
                                  </a>
                              </div>
                            </div>
                            </div>
                         </div>
                    {% endfor %}

    </div>
{% endblock %}
